.img-prod{
    max-width:100%;
    margin-bottom:10px;
}
.itemContainer {
    margin: 0 10px;
    width: 33.33%;
}
.itemContainer a{
    color: #000;
    text-decoration: none;
}
.itemContainer p{
    margin-bottom:5px;
}