.img-prod{
    max-width:100%;
    margin-bottom:10px;
}
.itemContainer {
    margin: 0 10px;
    width: 33.33%;
}
.itemContainer a{
    color: #000;
    text-decoration: none;
}
.itemContainer p{
    margin-bottom:5px;
}
p.desc-prod {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    font-size: 16px;
    line-height: 22px;
    color: #2d2d2d;
}
h4.title-prod {
    color: #3c0080;
    font-size: 24px;
    line-height: 29px;
    font-weight: 500;
}
p.price-prod {
    font-size: 24px;
    color: #3c0090;
    line-height: 32px;
    font-weight: bold;
}
.btn.btn-outline-secondary {
    color: #424242;
}